$pink: #ff6ba6;
$darkPink: #e75e94;

@mixin dropdown-label() {
  height: 56px;
  line-height: 56px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #878787;
}

@mixin shadow() {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

@mixin tab-button($degree, $transform) {
  background-color: #ffffff;
  content: '';
  position: absolute;
  left: 0px;
  height: 110px;
  -webkit-transform: perspective(300px) rotateX(-30deg) translateZ(-1px);
  -o-transform: perspective(300px) rotateX(-30deg) translateZ(-1px);
  -moz-transform: perspective(300px) rotateX(-30deg) translateZ(-1px);
  transform: perspective(300px) rotateX(-30deg) translateZ(-1px);
  -webkit-transform-origin: $transform;
  -moz-transform-origin: $transform;
  -o-transform-origin: $transform;
  transform-origin: $transform;
  border-bottom: 2px solid #676767;
  border-top: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, serif;
    color: #434343;
    font-size: 30px;
 // overflow: hidden;
  }

.tabs {
  height: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 50px;
  width: 80%;
  min-width: 500px;
  min-height: 660px;
  background: linear-gradient(to bottom, #eaeaea 0%,#6a6b6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -webkit-linear-gradient(to bottom, #eaeaea 0%,#6a6b6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -moz-linear-gradient(to bottom, #eaeaea 0%,#6a6b6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px solid #676767;
  -webkit-transform: translateZ(-2px);
  -o-transform: translateZ(-2px);
  -moz-transform: translateZ(-2px);
  transform: translateZ(-2px);
  @include shadow();

  article {
    height: 80%;

    & > div {
      height: 100%;
    }
  }

  .tabs-menu {
    list-style: none;
    margin: 0 0 0px;
    padding: 0;

    li {
      display: inline-block;
      width: 50%;
      text-align: center;
      height: 100px;
      line-height: 100px;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      &:last-child:before, &:last-child:after {
        @include tab-button(-30deg, 100%);
      }
      &:first-child:before, &:last-child:before {
        border-top: none;
        z-index: 1;
        width: 100%;
        top: -5px;
        padding-right: 0;
      }
      &:last-child:after {
        box-shadow: 8px -7px 10px 5px white;
        left: 5px;
        right: 0;

        top: -5px;
        height: 110px;
      }
      &:last-child:before {
        box-shadow: inset 5px -6px 6px 0px rgba(0, 0, 0, 0.4);
        border-left: 2px solid #676767;
      }

      &:first-child:before, &:first-child:after {
        @include tab-button(-30deg, 0 50%);
      }
      &:first-child:after {
        box-shadow: -8px -7px 10px 5px white;
        right: 0;
        left: 0;

        top: -5px;
        height: 110px;
      }
      &:first-child:before {
        box-shadow: inset -5px -6px 6px 0px rgba(0, 0, 0, 0.4);
        border-right: 2px solid #676767;
      }

      a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 2;
        font-weight: bold;
        font-size: 30px;
        color: #6b6a6a;
        -webkit-transform: translateZ(20px);
        -o-transform: translateZ(2px);
        -moz-transform: translateZ(20px);
        transform: translateZ(20px);
      }

      &.is-active {
        a {
          text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.6);
          color: #000000;
        }

        &:last-child:before, &:last-child:after, &:first-child:before, &:first-child:after {
          display: none;
        }
      }
    }
  }

  .tabs-inner {
    height: 100%;

    .tabs-body {
      height: 100%;

      .title {
        color: #565656;
        text-align: center;
        text-shadow: 0px 1px 2px rgba(255, 255, 255, 1);
        font-size: 40px;
        margin: 130px 0;
      }

      .bottom {
        width: 100%;
        text-align: center;
        .bottom-right {
          max-width: 240px;
          display: inline-block;
          margin-left: 45px;
          width: 30%;
        }
      }
    }
  }
}

.selector{
  text-align: center;
  margin-top: 160px;
  margin-bottom: 35px;

  label {
    display: inline-block;
    user-select: none;
    position: relative;
    width: 26px;
    height: 26px;
    border:2px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.1);
    text-align: center;
    &:hover {
      border:2px solid rgba(0, 0, 0, 0.5);
      color: black;
    }
  }

  input {
    display: none;
    &:checked + {
      label {
        color: #ffffff;
        border-color: $darkPink;
        background: $pink;
        &:after{
          content: '';
          display: block;
          margin-left:7px;
          margin-top:1px;
          width: 6px;
          height: 15px;
          border: solid rgba(255, 255, 255, 1);
          border-width: 0 5px 5px 0;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }

  span {
    margin-left: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #606060;
    bottom: 8px;
    position: relative;
  }
}

.dropdown {
  max-width: 400px;
  min-width: 230px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: left;
  .dropdown-head {
    @include dropdown-label();

    border: 2px solid #7a7a7a;
    background: -moz-linear-gradient(top, #e6e6e6 0%, #f5f5f5 46%, #f5f5f5 74%, #e6e6e6 98%);
    background: -webkit-linear-gradient(top, #e6e6e6 0%,#f5f5f5 46%,#f5f5f5 74%,#e6e6e6 98%);
    background: linear-gradient(to bottom, #e6e6e6 0%,#f5f5f5 46%,#f5f5f5 74%,#e6e6e6 98%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    &:hover {
      background: -moz-linear-gradient(top, #e6e6e6 0%, #f5f5f5 18%, #f5f5f5 81%, #e6e6e6 98%);
      background: -webkit-linear-gradient(top, #e6e6e6 0%,#f5f5f5 18%,#f5f5f5 81%,#e6e6e6 98%);
      background: linear-gradient(to bottom, #e6e6e6 0%,#f5f5f5 18%,#f5f5f5 81%,#e6e6e6 98%);
    }

    .dropdown-arrow {
      float: right;
      width: 60px;
      height: 100%;
      margin-left: 20px;
      border-left: 2px solid #e3e3e3;
      position: relative;

      &:before {
        content: ' ';
        display: block;
        border-left: 2px solid #ffffff;
        height: 100%;
        position: absolute;
        left: 0;
      }

      &:after {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #878787;
        margin: 28px auto 0;
      }
    }
  }

  .dropdown-list {
    display: none;
    background-color: #e6e6e6;
    border: 2px solid #7a7a7a;
    margin-top: -2px;
    position: absolute;
    left: 0;
    right: 0;

    .dropdown-item {
      @include dropdown-label();
      border-bottom: 2px solid #7a7a7a;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  &.opened {
    .dropdown-head {
      .dropdown-arrow {
        &:after {
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #878787;
          border-top: none;
        }
      }
    }

    .dropdown-list {
      display: block;
    }
  }

}

.button {
  width: 100%;
  height: 86px;
  line-height: 86px;
  background-color: $pink;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 35px;
  border: 2px solid $darkPink;
  cursor: pointer;

  &:hover {
    background-color: $darkPink;
  }
}

.dark-bg {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index:90;
  top: 0;
  left: 0;
}

.popup {
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 70%;
  margin: auto;
  min-height: 550px;

  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  padding: 40px 40px;

  @include shadow();
    .popup-close {
      position: absolute;
      right: 10px;
      top: 20px;
      width: 50px;
      height: 50px;
      opacity: 0.7;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 50px;
        width: 2px;
        background-color: #bcbcbc;
      }

      &:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    .popup-title {
      font-size: 40px;
      margin-bottom: 40px;
    }

    .popup-content {
      overflow-y: auto;
      height: 60%;
      padding: 0 10px;
    }

    .popup-bottom {
      max-width: 400px;
      margin: 0 auto;
      position: absolute;
      bottom: 40px;
      width: 50%;
      left: 0;
      right: 0;
    }
}

@media screen
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {
  .popup {
    margin-top: 50px;
  }
}



